/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.group {
  margin-bottom: 30px;
}

.checkbox {
  display: block;
}

.conditions {
  margin-bottom: 30px;
}

textarea {
  display: block;
}

form {
  margin-left: 20px;
}

.formulaire2 {
  background: #15172b;
  width: 476px;
  padding: 30px;
}

.formulaire2 label {
  color: #dc2e55;
}

.formulaire2 input {
  background: #303245;
  color: #65657a;
  border: #65657a;
  border-radius: 10px;
  padding: 10px;
}

.formulaire2 select {
  background: #303245;
  color: #65657a;
  border-radius: 10px;
  border: #65657a;
  padding: 10px;
}

.formulaire2 textarea {
  background: #65657a;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.formulaire2 .checkbox {
  color: #dc2e55;
}

button {
  background-color: #0088dd;
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.radio-placeholder {
  display: inline-block; /* pour que le div soit à côté du texte */
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: red 1px solid;
}

.radio-placeholder:hover {
  box-shadow: 0px 0px 0px 7px rgba(244, 67, 53, 0.16);
  transition: box-shadow 0.2s;
}

.radio-placeholder div {
  background-color: red;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  margin: 2px;
  transform: scale(0);
  transition: transform 0.2s;
}

input:checked + .radio-placeholder div {
  transform: scale(1);
}

.radio input {
  display: none;
}

.switch-wrapper {
  display: inline-block;
  width: 30px;
  height: 14px;
  border-radius: 10px;
  background: orange;
}

.switch-inner {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: red;
  margin-top: -3px;
}

input:checked + .switch-wrapper .switch-inner {
  margin-left: 10px;
}

.switch input {
  display: none;
}

.textfield {
  position: relative;
}

.textfield input {
  padding: 16px;
}

.textfield label {
  position: absolute;
  top: 16px;
  left: 10px;
  pointer-events: none; /* on empêche le click sur le label, pour ne pas empêcher la sélection de l'input */
  background: white; /* on ajoute une couleur de fond, pour cacher la bordure de l'input */
  transition: transform 0.3s; /* on ajoute une transition */
  transform-origin: left; /* on commence la transformation à gauche, pour que le label reste bien à gauche */
  padding: 2px;
}

input:focus + label {
  transform: translateY(-24px) scale(0.7);
}
