/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.group {
  margin-bottom: 30px;
}

.checkbox {
  display: block;
}

.conditions {
  margin-bottom: 30px;
}

textarea {
  display: block;
}

form {
  margin-left: 20px;
}

.formulaire2 {
  background: #15172b;
  width: 476px;
  padding: 30px;
}

.formulaire2 label {
  color: #dc2e55;
}

.formulaire2 input {
  background: #303245;
  color: #65657a;
  border: #65657a;
  border-radius: 10px;
  padding: 10px;
}

.formulaire2 select {
  background: #303245;
  color: #65657a;
  border-radius: 10px;
  border: #65657a;
  padding: 10px;
}

.formulaire2 textarea {
  background: #65657a;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.formulaire2 .checkbox {
  color: #dc2e55;
}

button {
  background-color: #0088dd;
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.radio-placeholder {
  display: inline-block; /* pour que le div soit à côté du texte */
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: orange;
}

input:checked + .radio-placeholder {
  background: red;
}

.radio input {
  display: none;
}

.switch-wrapper {
  display: inline-block;
  width: 30px;
  height: 20px;
  padding: 2px;
  border-radius: 10px;
  background: orange;
}

.switch-inner {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: red;
}

input:checked + .switch-wrapper .switch-inner {
  margin-left: 10px;
}

.switch input {
  display: none;
}
